#welcome {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}